TS_API_KEY=WH2zzc3pvyJ0wsexmZkEgH2NlhTLh3NH
TS_SECRET_KEY=oubXcbbc3aG-chawdVp0xiudRoN1wdU4jVr8FzUvkUFF86kxjJfjrXjuksYndQS3
TS_REDIRECT_URI=http://localhost:3001
SIM_ACCOUNT_ID=SIM3196938F
# Trading Configuration
SYMBOL=MNQM26
CONTRACT_SIZE=2
TP_POINTS=40
SL_POINTS=40
POINTS_TO_TICKS=4
EMA_FAST=6
EMA_SLOW=18
EMA_TREND=46
ENABLE_TRADING=true
TRAIL_RUNNER=true
TRAIL_DISTANCE=30
MAX_DAILY_LOSS=20000
BE_TRIGGER_POINTS=35
BE_OFFSET_POINTS=2
#EOD Flatten
ENABLE_EOD_FLATTEN=true
EOD_FLATTEN_HOUR_CT=15
EOD_FLATTEN_MINUTE_CT=50

ENABLE_DAILY_LOSS_LIMIT=true
ENABLE_CONSECUTIVE_LOSS_LIMIT=true
MAX_CONSECUTIVE_LOSSES=5