TS_API_KEY=WH2zzc3pvyJ0wsexmZkEgH2NlhTLh3NH
TS_SECRET_KEY=oubXcbbc3aG-chawdVp0xiudRoN1wdU4jVr8FzUvkUFF86kxjJfjrXjuksYndQS3
TS_REDIRECT_URI=http://localhost:3001
SIM_ACCOUNT_ID=SIM3196938F
# Trading Configuration
SYMBOL=MNQM26
CONTRACT_SIZE=2
TP_POINTS=40
SL_POINTS=40
POINTS_TO_TICKS=4
EMA_FAST=6
EMA_SLOW=18
EMA_TREND=46
ENABLE_TRADING=true
TRAIL_RUNNER=true
TRAIL_DISTANCE=40